.Mps3xzw9b4W8TCp4 {
    background: #e0e0e0;
    white-space: nowrap;
    position: relative;
    width: 120px;
    height: 50px;
    box-shadow: 1px 0 0 0 #757575,
    0 1px 0 0 #757575,
    1px 1px 0 0 #757575,
    1px 0 0 0 #757575 inset,
    0 1px 0 0 #757575 inset;
}

.Mps3xzw9b4W8TCp4 span {
    position: absolute;
    right: 5px;
}

.YDdkvbwW9EsI42Yo {
    top: 2px;
}

.EmmDf3hYDCFYNfTl {
    bottom: 2px;
}